<h1>Weather definitions</h1>

<div>

  <% if @hot %>
    Above <%= @hot.value %><span>&#8451;</span> is Hot.</br>
  <% end %>

  <% if @hot and @cold %>
   Between <%= @cold.value %><span>&#8451;</span> and <%= @hot.value %><span>&#8451;</span> is Warm. </br>
  <% end %>

  <%if @cold %>
    Below <%= @cold.value %><span>&#8451;</span> is Cold. </br>
  <% end %>

  <% unless @hot and @cold %>
    No/Incomplete Temperature Information.
  <%end%>
</div></br>

<div>
  Please set temperature definitions for hot and cold temperatures <a href="<%= new_temperature_path %>">here</a>
</div>

</br>

<h2> Search weather by postcode</h2>
<%= form_for :search, url: forecasts_search_path do |form| %>
  <div>
    <%= form.label :postcode %>: &nbsp;
    <%= form.text_field :postcode %>
  </div></br>

   <div>
    <%= form.submit 'Search'%>
  </div>
<% end %>

<% if @country && @maxtemp %>
  <h3> Temperature Results </h3>
  <div>
    Country: <%= @country %></br>
    Max.Temp: <%= @maxtemp %><span>&#8451;</span>
  </div>
<% end %>
