<h1>Weather definitions</h1>

<%= render partial: "weather_definitions", locals:{ hot: @hot, cold: @cold } %>

<div>
  Please set temperature definitions for hot and cold temperatures <a href="<%= new_temperature_path %>">here</a>
</div>

</br>

<% if @hot and @cold %>
  <h2> Search weather by postcode</h2>
  <%= form_for :search, url: forecasts_search_path do |form| %>
    <div>
      <%= form.label :postcode %>: &nbsp;
      <%= form.text_field :postcode %>
    </div></br>

     <div>
      <%= form.submit 'Search'%>
    </div>
  <% end %>
<% end %>
