<h1> Weather Temperature Information </h1>

<div>

  <% if @hot %>
    Above <%= @hot.value %><span>&#8451;</span> is Hot.</br>
  <% end %>

  <% if @hot and @cold %>
   Between <%= @cold.value %><span>&#8451;</span> and <%= @hot.value %><span>&#8451;</span> is Warm. </br>
  <% end %>

  <%if @cold %>
    Below <%= @cold.value %><span>&#8451;</span> is Cold. </br>
  <% end %>

  <% unless @hot and @cold %>
    No/Incomplete Temperature Information.
  <%end%>
</div></br>

<div>
  Please set temperature boundaries for hot and cold temperatures <a href="<%= new_temperature_path %>">here</a>
</div>

